{
    debug
    order service_token first # https://caddyserver.com/docs/caddyfile/options#order
}

:8080 {
    service_token {
        region "eu-west-1"
        environment "client-test"
        service_id ""
        service_key ""
    }

    reverse_proxy https://caddy.free.beeceptor.com {
        header_up Host {upstream_hostport}

        transport http {
            tls_insecure_skip_verify
        }
    }
}